@import url(./../node_modules/font-awesome/css/font-awesome.min.css);

body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font: 14px/21px "Arial", sans-serif;
    color: #bababa;
    background: #2b2b2b;
    -webkit-user-select: none;
}

body {
    display: flex;
    flex-flow: column nowrap;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

button:active, button:focus {
    outline: none;
}

#toolbar {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 5px;
    background: #212121;
    border-bottom: 1px solid #777;

    .btn {
        position: relative;
        display: block;
        margin: 5px;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        border: 1px solid #5a5a5a;
        background: #212121;
        color: #bababa;
        font-size: 15px;
        line-height: 15px;
        cursor: pointer;

        &:hover {
            background: #2b2b2b;
            color: #fff;
            border-color: #fff;
        }

        &.toolbar-right {
            margin-left: auto;
        }

        .btn-stack-top {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 0.6em;
        }
    }
}

#main {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
}

#folders-panel {
    flex: 1 1 auto;
}

#plugins-panel {
    flex: 0 0 50%;
    display: none;
    border-left: 1px solid #777;

    &.visible {
        display: flex;
    }
}

.panel-main {
    display: flex;
    flex-flow: column nowrap;

    .panel-heading {
        flex: 0 0 auto;
        margin: 0;
        padding: 10px 5px;
    }

    .panel-content {
        flex: 1 1 auto;
        overflow-y: scroll;
    }

    .panel-footer {
        flex: 0 0 auto;
        margin: 0;
        padding: 5px;
        text-align: center;
    }

    .hint {
        color: #5a5a5a;
        font-size: 0.8em;
        font-style: italic;
    }
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;

    .item {
        margin: 0;
        padding: 0;

        .item-panel {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            .item-handle {
                flex: 0 0 10px;
                display: block;
                font-size: 7px;
                color: #777;
                cursor: ns-resize;
            }

            .item-label {
                flex: 1 1 auto;
                display: block;
                margin: 0;
                height: 21px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: default;

                &:focus {
                    outline-color: #E3BD6A;
                    -webkit-user-select: text;
                }
            }

            .btn {
                flex: 0 0 auto;
                display: block;
                margin: 0;
                padding: 0 2px;
                border: none;
                background: none;
                color: #777;
                cursor: pointer;

                &.btn-toggle {
                    width: 12px;
                    font-size: 15px;
                }
            }
        }

        &.dragging {
            background: #353535;
        }

        &.drag-target {
            &.drag-target-prev {
                border-top: 1px solid #E3BD6A;
            }

            &.drag-target-next {
                border-bottom: 1px solid #E3BD6A;

                & + .item {
                    border-top: none;
                }
            }
        }
    }
}

.list-main {
    .item-main {
        padding: 5px;
        border-top: 1px solid #444;

        &:last-child {
            border-bottom: 1px solid #444;
        }

        > .item-panel .item-label {
            font-weight: bold;
        }

        .list {
            display: none;
        }

        &.open {
            > .item-panel > .btn-toggle::before {
                content: "\f0d7";
            }

            .list {
                display: block;
            }
        }

        &.drag-target:not(.drag-target-prev):not(.drag-target-next) {
            background: #4a4a4a;

            .list-sub {
                &:empty, .item:last-child {
                    border-bottom: 1px solid #E3BD6A;
                }
            }
        }
    }
}

.list-sub {
    margin: 5px 0 0;

    &:empty {
        border-bottom: 1px solid #2b2b2b;
    }

    .item {
        padding: 2px 5px;
        border-top: 1px solid #2b2b2b;
        background: #212121;

        &:last-child {
            border-bottom: 1px solid #2b2b2b;
        }
    }
}

.dialog-holder {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0);
    transition: height 0.5s step-end, background 0.5s cubic-bezier(.27,.78,.2,.98);

    &.visible {
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        transition: height 0.3s step-start, background 1s ease-out;

        .dialog-content {
            transform: translateY(0);
        }
    }
}

.dialog-content {
    flex: 0 0 auto;
    width: 80vw;
    max-width: 400px;
    max-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto;
    border: 1px solid #777;
    border-top: none;
    border-radius: 0 0 20px 20px;
    background: #2b2b2b;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;

    .label {
        display: block;
    }

    .inp {
        display: block;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #777;
        border-radius: 0;
        background: #212121;
        font: inherit;
        color: #bababa;

        &:focus {
            outline: none;
        }
    }

    .text-center {
        text-align: center;
    }

    .flex-row {
        display: flex;
        flex-flow: row nowrap;
    }

    .btn {
        padding: 2px 5px;
        border: 1px solid transparent;
        border-radius: 5px;
        background: none;
        cursor: pointer;
        font: inherit;
        color: #bababa;

        &:hover {
            color: #fff;
        }

        &.confirm {
            background: #212121;
        }

        &.focus {
            outline: 1px solid #333;
        }
    }

    .btn-main {
        border: 1px solid #777;

        &:hover {
            border-color: #aaa;
            background: #212121;
        }
    }
}

#new-update-changes {
    max-height: 50vh;
    padding: 0.5em;
    overflow-y: auto;
    white-space: pre-wrap;
    background: #212121;
}
